@import url('https://fonts.cdnfonts.com/css/clash-display');


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aeonik, sans-serif;
}


$primary-purple: #B629E7;
$light-purple: #F9EAFE;
$link-font-size: 0.875rem;//14px
$oc-black: #0C0C0C;


@mixin flex-horizontal-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.text-center {
  text-align: center;
}

body {
  background-image: url('./components/images/icons/4doodle4.png');
  background-repeat: repeat;
  line-height: 1.5;
  font-size: 0.875;//14px
  color: #757879;
}

//the root div AKA the ultimate home page wrap
#root {
  @include flex-vertical-center();
  width: 100%;
}

.App {
  margin: 0 0.6rem;
  position: relative;
}

.nav {
  display: flex;
  margin: 0.6rem 0 0 0.6rem;
  margin: 0.6rem 0 0 0rem;

  &__home-logo-wrap {
    @include flex-horizontal-center();
    text-decoration: none;
  }

  &__dot-logo {
    display: block;
  }

  &__logo-text {
    font-size: 1.3rem;
    font-weight: 700;
    color: $oc-black;
    margin-left: 0.4rem;
  }
  
  //the hamburger menu btn
  &__btn {
    border: none;
    background-color: transparent;
    // background-color: pink;
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    z-index: 3;
    width: 2.75rem;
    height: 2.75rem;
    @include flex-vertical-center()
  }

  // the divs that makes the hamburgers
  &__hamburgers {
    background-color: $oc-black;
    width: 2rem;
    height: 0.15rem;
    height: 0.23rem;
    margin: 0;
    transition: all 500ms ease-in-out, color 10s ease-in-out;
    transform: 0;

    //hamburger top piece
    &--top {

      &.menu-opened {
        transform: rotate(-100deg) translateY(-63px);
        color: red;
        opacity: 0;
      }
    }

    //hamburger middle piece
    &--middle{
      margin: 0.3rem auto;
      
      &.menu-opened {
        transform: rotate(-45deg);
      }
    }

    //hamburger bottom piece
    &--bottom {

      &.menu-opened {
        transform: rotate(45deg) translate(-0.3rem, -0.4rem);
      }
    }
  }

  //the nev link <ul>
  &__link {
    background-color: rgb(13, 175, 175);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 65%;
    pointer-events: none;
    visibility: hidden;
    clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%);
    transition: all 0.5s ease-in-out;
    
    //nav link <ul> when menu is opened
    &.menu-opened {
      opacity: 1;
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
      -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
      pointer-events: auto;
      visibility: visible;
    }

    //the nav link <li>
    &--links {
      list-style-type: none;
    }

  }
}
// the nav bar ends here

//
.home {

  &__content-not-nav {
    // display: none;
    @include flex-vertical-center();

    &--wrapper {
      max-width: 95%;
    }
  }

  &__heading {
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
    color: $oc-black;
    
    &--one {
      // font-family: Clash Display;
      margin-top: 3rem;
      font-size: 2.5rem;
      // font-size: 22.5rem;
      font-weight: 600;
      line-height: 1.4;
      text-align: left;
    }

    &--two {
      font-size: 1.3rem;
      margin: 0 0 0.4rem 0;
    }

    &--three {
      // text-align: center;
      // @include clash-font-600();
      font-size: 1.125rem;//18px
      margin: 1rem 0;
    }

    &--five {
      text-align: center;
      // display: none;
      // font-size: 0.75rem;//12px
      font-size: 0.8rem;//12.8px
      font-weight: 400;
    }
  }
  
  &__btn-and-hero-wrapper {
    // display: none;
    width: 90%;
  }

  &__hero-text {
    margin: 1rem 0 1.5rem 0;
    font-size: 0.875rem;
    color: $oc-black;
  }

  &__hero-and-arrow {
    // background-color: red;
    margin: 0.3rem 0 3.5rem 0;
    @include flex-vertical-center();
  }

  &__arrow {
    // position: absolute;
    // display: inline-block;
    margin-left: 5rem;
    margin-left: 31%;
    
    &-wrapper {
      // background-color: red;
      width: 100%;
    }
  }

  &__courses {
    // margin-top: 3rem;
    width: 100%;
    // background-color: #0C0C0C;
    @include flex-vertical-center()
  }
  
  &__each-course {
    @include flex-vertical-center();
    // margin-top: 3rem;
    margin: 3rem 0.7rem 0 0.7rem;
    // box-shadow: 0px 30px 44px rgba(200, 200, 200, 0.25);
    box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.25);
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    background-color: #ffffff;

    &-heading {
      margin: 1rem 0;
    }

    &-paragraph {
      margin: 0 0 1rem 0;
      font-size: 0.875rem;//12px but i use 14px, 12 is too small
    }
  }
  
  &__rating-view-course {
    display: flex;
    width: 100%;
  }

  &__rating {
    display: flex;
    align-items: center;

    &-text {
      margin-right: 0.5rem;
    }

    &-img {
      display: inline-block;
      width: 1.1rem;
      height: 1rem;
    }
  }

  &__chart-section {
    @include flex-vertical-center();
  }

  &__chart-img {
    // display: none;
  }

  &__features {
    // @include flex-vertical-center();
  }

  &__each-features {
    margin-bottom: 1.4rem;

    &-icons {
      width: 1.25rem;//20px
      height: 1.125rem;//18px
    }

    &-heading {
      // @include clash-font-600();
      // font-size: 1.125rem;//18px
      font-size: 1rem;//16px
      margin: 0.5rem 0;
      // margin: 0;
    }

    &-description {
      font-size: 0.875rem;//14px
    }
  }

  &__review {
    // display: flex;
    
    &--trusted {
      font-size: 1.125rem;
      font-weight: 600;
      text-align: center;
      margin: 1rem 3rem;
      font-family: 'Clash Display', sans-serif;
    }

    &--testimony {
      text-align: center;
      margin: 1rem;
      // display: none;
    }

    &--each-review {
      list-style-type: none;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      border-radius: 0 1.25rem 1.25rem 1.25rem;
      padding: 1.5rem 1rem;
      margin: 1rem 0;
      font-size: 0.8rem;
      position: absolute;
      inset: 0;//this set top, right, bottom and left to 0
    }

    &--hero {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      // background-color: red;

      &-img {
        width: 1.5rem;
        height: 1.5rem;
      }

      &-name {
        margin-left: 1rem;
        font-weight: 600;
      }
    }

    &-carousel {
      // display: none;
      position: relative;
      height: 15rem;
      margin-bottom: 4rem;
      
      & > ul {
        display: flex;
        position: relative;
      }
    
      &-btn {
        // background-color: #ddacac;
        // padding: 0.1rem 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: inline-block;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        @include flex-vertical-center();

        &-wrapper { 
          @include flex-horizontal-center();
          gap: 3rem;
          position: absolute;
          bottom: 0;
          left: 50%;
          right: 50%;
        }
        
        &-right {
          
          & > img {
            // turn the other left arrow to right
            transform: rotate(180deg);
          }
        }
      }
    }

  }
}

.btn {
  text-decoration: none;

  &--shadow {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }

  &--nav-link {
    font-size: $link-font-size;//14px
    font-weight: 400;
    line-height: 1.225;
    color: $oc-black;
    // transform: translate(60vw) rotate(-100deg) scale(4);
    transform: translate(60vw, 60vh) scale(5);
    // transform: scale(1.4) rotate(100deg) translate(0.3rem, 0.2rem);
    display: inline-block;
    transition: transform 700ms ease-in-out;

    &.menu-opened {
      transform: none;
    }
  }

  &--hero {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.8rem 0;
    width: 45%;
    text-align: center;
    
    &-wrapper {
      display: flex;
      // display: none;
      justify-content: space-between;
      width: 95%;
    }
  }
  
  &--purple {
    background-color: $primary-purple;
    color: white;
    // display: none;
  }
  
  &--light-purple {
    color: $primary-purple;
    background-color: $light-purple;
  }
  
  &--view-course {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.8rem 1.3rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 3.5rem;
    place-self: center;
  }

  &--get-started {
    display: inline-block;
    margin: 2rem 0;
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  &--download {
    // display: none;
    background-color: $oc-black;
    color: #fff;

    &__content {
      display: flex;
    }
  }
}

.higlighted {
  color: $primary-purple;
}


@media screen and (min-width: 465px) {
  // *{display: none;}
}
